.jimu-widget-memorytrainer {
    position: relative;
    height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    left:0;
}

.boxed {
    border: 1px solid;
    border-radius: 3px;
    border-color: #333333;
    margin-bottom: 10px;
}

#target-display {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 18px;
}

#target-attribute {
    font-style: italic;
    font-size: larger;
}

#target-value {
    text-align: center;
}

#response-button {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
    display: block;
    text-align: center;
}

.incorrect-button {
    background-color: red;
    border: 3px solid #DD0000;
    color: #FFFFFF;
    cursor: pointer;
}

.correct-button {
    background-color: green;
    border: 3px solid #006600;
    color: #FFFFFF;
    cursor: pointer;
}

.in-play-button {
    background-color: #FFFFFF;
    border: 3px solid #BBB;
    color: #333;
    cursor: auto;
}

.completed-button {
    background-color: cadetblue;
    border: 3px solid #488283;
    color: #FFFFFF;
    cursor: auto;
}

#response-status {
    font-weight: bold;
    font-size:larger;
    letter-spacing: 0.1em;
}

#results-table {
    display: table;
    width: 100%;
    padding-top: 25px;
    font-size: larger;
}

.highlight-row {
    font-weight: bold;
}

.result-row {
    display: table-row;
}

.result-row>div {
    display: table-cell;
}

.result-value {
    width: 25%;
}