<div>
    <p>${nls.instruction}</p>
    <div class="boxed" id="target-display">
        <h1 id="target-attribute">${config.field}</h1>
        <p style="font-size:large;font-weight:bold" id="target-value"></p>
    </div>
    <div>
        <a class="boxed in-play-button" id="response-button">
            <span id="response-status">${nls.inProgress}</span>
            <p id="response-subtext">${nls.inProgressString}</p>
        </a>
    </div>
    <div id="results-table">
        <div class="result-row" id="score-row">
            <div>${nls.score}:</div>
            <div class="result-value"><span id="stat-correct">0</span> ${nls.scoreSeperator} <span id="stat-tries">0</span></div>
            <div class="result-value"><span id="stat-correct-perc">0.0</span>%</div>
        </div>
        <div class="result-row">
            <div>${nls.seen}:</div>
            <div class="result-value"><span id="stat-seen">0</span> ${nls.scoreSeperator} <span id="stat-total">0</span></div>
            <div class="result-value"><span id="stat-seen-perc">0.0</span>%</div>
        </div>
    </div>
    <div class="footer jimu-widget-note">
        <p>${nls.helpWanted} <a href="https://gitlab.com/romahicks/MemoryTrainer">GitLab</a></p>
    </div>
</div>