<div>
    <table>
        <tr>
            <td class="first"><label>${nls.layer}</label></td><td class="second"><select data-dojo-type="dijit/form/Select" data-dojo-attach-point="layerSelect"></select></td>
        </tr>
        <tr>
            <td class="first"><label>${nls.field}</label></td><td class="second"><select data-dojo-type="dijit/form/Select" data-dojo-attach-point="fieldSelect"></select></td>
        </tr>
    </table>
</div>